* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(36, 187, 140, 0.02);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}

.collaborators {
  display: flex;
  justify-content: center;
}

.collaborators .company-icons img {
  margin-left: 30px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info b {
  color:#7F56D9;
  font-size: 25px;
}

.info span {
  color:#101828;
  font-size: 20px;
}
