
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  width: 1400px;  
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.box {
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}
