
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(36, 187, 140, 0.02);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}
